@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en");

/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  text-align: center;
}
body,
button {
  font-family: "Roboto", sans-serif !important;
}
::-webkit-input-placeholder {
  font-style: italic;
  color: #dcdcdc;
}

/* Login-Form and Register-Form */
.Login-main-div,
.Register-main-div {
  width: 80%;
  margin: 2rem auto 1rem auto;
  padding: 3rem;
  height: 550px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.form-div {
  height: 500px;
  padding: 2rem;
}
.container-login,
.container-register {
  height: 500px;
}
.heading-container {
  padding: 20px;
}
.heading-login,
.heading-register {
  color: rgba(175, 47, 47, 0.15);
  font-size: 80px;
  font-weight: 900;
}
.form-input {
  padding: 1rem;
}
.input-login,
.input-register {
  padding: 20px;
  width: 50%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #909090;
  background-color: #f8f8f8;
  font-size: 20px;
}

.form-button-div {
  padding: 1rem;
}
.login-button,
.register-button {
  padding: 20px;
  width: 25%;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  color: #fff;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}

.login-button:hover {
  background-color: rgb(172, 14, 80);
}

/* Todo-Styling */
.todo-main-div {
  width: 90%;
  margin: 2rem auto 1rem auto;
  padding: 1rem;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.todo-logout-div {
  float: right;
}
.todo-logout-button {
  padding: 15px;
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  color: #fff;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
}
.todo-container {
  width: 80%;
  margin: auto;
  height: 500px;
}
.todo-heading-div {
  padding: 5px;
}
.todo-heading {
  margin: auto;
  width: 80%;
  color: rgba(175, 47, 47, 0.15);
  font-size: 80px;
  font-weight: 900;
  padding: 5px;
}
.todo-container-2 {
  min-height: 50vh;
  padding: 20px;
}
.todo-wrapper-1 {
  min-height: 50vh;
  padding: 10px;
}
.input-button-div {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.todo-add-button {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  outline: none;
  border-radius: 5px;
  padding: 2px 2rem 0.2rem 2rem;
  border: none;
  color: #fff;
  font-size: 20px;
}
.todo-wrapper-2 {
  margin-top: 2rem;
  min-height: 50vh;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}

.all-tag,
.active-tag,
.completed-tag {
  width: 33.3%;
}
.active-button,
.all-button,
.completed-button {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
  padding: 15px 25px 15px 25px;
  color: #fff;
  outline: none;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  margin-bottom: 1rem;
}
.active-todoitems,
.completed-todoitems {
  min-height: 5vh;
  color: #f50057;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
}

.internal-todoitems {
  padding: 10px;
}

/* Todo-Element-Styling */
.todoelement-container {
  display: flex;
  justify-content: space-around;
  min-height: 5vh;
  align-items: center;
}

.todoelement-checkbox-text {
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
  color: #f50057;
  font-size: 20px;
  padding: 10px;
}
.todoelement-checkbox {
  width: 20px;
  height: 20px;
}
.edit-del-buttons {
  display: flex;
  gap: 10px;
}
